<header class="main-header">
  <div class="logo-container">
    <h1 tabindex="0" routerLink="/layout/cliente">Pedidos 360</h1>
  </div>

  <nav aria-label="Navegación principal de roles">
    <ul class="nav-links">
      <!-- El catálogo público siempre está disponible -->
      <li><a routerLink="/layout/cliente" aria-label="Ir al catálogo principal">Catálogo</a></li>

      @if (isLoggedIn()) {
        @if (userRole() === 'cliente') {
          <li><a routerLink="/layout/cliente" aria-label="Ver mis compras">Mis Compras</a></li>
        }
        @if (userRole() === 'cocina') {
          <li><a routerLink="/layout/cocina" aria-label="Pantalla de comandas">Panel de Cocina</a></li>
        }
        @if (userRole() === 'auditoria') {
          <li><a routerLink="/layout/auditoria" aria-label="Registro histórico">Auditoría</a></li>
        }
        @if (userRole() === 'despacho') {
          <li><a routerLink="/layout/despacho" aria-label="Gestión de despachos">Despachos</a></li>
        }
      }
    </ul>
  </nav>

  <div class="actions-container">
    <button class="icon-button" aria-label="Ver alertas" tabindex="0">
      🔔 @if (hasUnreadAlerts()) { <span class="badge" aria-hidden="true">!</span> }
    </button>

    <!-- El carrito solo le importa al público o al cliente -->
    @if (!isLoggedIn() || userRole() === 'cliente') {
      <button class="icon-button" aria-label="Ver carrito" tabindex="0">
        🛒 @if (cartCount() > 0) { <span class="badge" aria-hidden="true">{{ cartCount() }}</span> }
      </button>
    }

    <!-- Botón Único de Autenticación y Vista de Perfil -->
    @if (!isLoggedIn()) {
      <button (click)="loginMock()" tabindex="0">Iniciar Sesión</button>
    } @else {
      
      @if (userRole() === 'cliente') {
        <div class="perfil-info" tabindex="0" aria-label="Información de usuario">
          <strong>👤 {{ perfil().nombreUsuario }}</strong>
          <small style="display:block; font-size: 0.7rem; color: gray;">📍 {{ perfil().ubicacion }}</small>
        </div>
      }

      <button (click)="logoutMock()" style="background-color: transparent; border: 1px solid red; color: red;" tabindex="0">Cerrar Sesión</button>
    }
  </div>
</header>

<!-- El área dinámica donde se inyecta el catálogo o las demás pantallas -->
<main tabindex="-1">
  <router-outlet></router-outlet>
</main>